################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BiometricServiceAPI/.vs/BiometricService/FileContentIndex
/.vs/BiometricService/FileContentIndex
