################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BiometricServiceAPI/.vs/BiometricService/FileContentIndex/25f049b4-3d1d-4fe5-be73-f7324bc11bb0.vsidx
/BiometricServiceAPI/.vs/BiometricService/FileContentIndex/aef41d2f-b6b5-4642-b31e-c5a9f0f4b4b4.vsidx
/BiometricServiceAPI/.vs/BiometricService/FileContentIndex/e511dadb-53bd-4b04-8950-f08415e99dec.vsidx
